* {
    box-sizing: border-box;
}

body {
    background-color: #212529;
}

/*NAVEGADOR*/

.container-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "Logo- Title Title blank blank blank Teams Teams Teams"
      ". . . . . . . . ."
      ". . . . . . . . .";
    background-color: #F8F9FA;
    padding: 1%;
    align-items: center;
  }
  
  .Logo- { 
      grid-area: Logo-;
      background-color: #ADB5BD;
      
}
  
  .Title { 
      grid-area: Title; 
}

h1 {
  font-family: 'Audiowide', cursive;
  font-size: 2rem;
}
  
  .Teams { 
      grid-area: Teams; 
}
  
  .blank { 
      grid-area: blank; 
}
  
.Teams img {
    width: 15%;
}

/*CONTENIDO-AUDIO*/

.container-audio {
    display: flex;
    justify-content: center;
    align-items: center;
}

audio {
    width: 80%;
    margin-top: 2%;
}

/*CONTENIDO-GOOGLE PLAY*/
.container-app a{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}


.container-app a img{
    padding: 1%;
    width: 40%;
    height: 40%;
    display: block;
    margin: 2% auto;
}

/*CONTENIDO - DONACIÓN*/
.container-donations {
  background-color: #495057;
  padding: 2%;
  margin-bottom: 3%;
}

h3 {
  color: #E9ECEF;
  text-align: center;
}


/*CONTENIDO - RRSS*/
.container-social{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    margin-top: 1%;
    margin-bottom: 5%;
  }

  .container-social .icon{
    margin: 0 1%;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .container-social .icon span{
    display: block;
    height: 60px;
    width: 60px;
    background: #DEE2E6;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .container-social .icon span i{
    line-height: 60px;
    font-size: 25px;
  }

  .container-social .icon .tooltip{
    position: absolute;
    top: 0;
    z-index: 1;
    background: #DEE2E6;
    color: #DEE2E6;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .container-social .icon:hover .tooltip{
    top: -70px;
    opacity: 1;
    pointer-events: auto;
  }

  .icon .tooltip:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #DEE2E6;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .container-social .icon:hover span{
    color: #DEE2E6;
  }

  .container-social .icon:hover span,
  .container-social .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
  }

  .container-social .facebook:hover span,
  .container-social .facebook:hover .tooltip,
  .container-social .facebook:hover .tooltip:before{
    background: #3B5999;
  }

  .container-social .twitter:hover span,
  .container-social .twitter:hover .tooltip,
  .container-social .twitter:hover .tooltip:before{
    background: #46C1F6;
  }

  .container-social .instagram:hover span,
  .container-social .instagram:hover .tooltip,
  .container-social .instagram:hover .tooltip:before{
    background: #e1306c;
  }

  .container-social .whatsapp:hover span,
  .container-social .whatsapp:hover .tooltip,
  .container-social .whatsapp:hover .tooltip:before{
    background: #25D366;
  }

  .container-social .youtube:hover span,
  .container-social .youtube:hover .tooltip,
  .container-social .youtube:hover .tooltip:before{
    background: #DE463B;
  }
  
/*FOOTER*/
.container-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ADB5BD;
    text-align: center;
}

/*MEDIA QUERIES*/

/*****XLARGE - min-width:1200px*****/
@media (min-width: 1200px) {
  .container-app a img{
    width:25%;
    height:25%;
  }
}

/*****LARGE - between 992px and 1199 px*****/
@media (min-width: 992px) and (max-width: 1199px) {
  h1 {
    font-size: 1.8rem;
  }
}

/*****MEDIUM - between 768px and 991px*****/
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 1.6rem;
  }

  .Teams img {
    width: 25%;
  }
}

/*****SMALL - between 576px and 767px*****/
@media (max-width: 767px) {
  h1 {
    font-size: 1.2rem;
  }

  .Teams img {
    width: 25%;
  }
}

/*****XSMALL - less than 576px*****/
@media (max-width: 576px) {
    .container-nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .Logo- {
        margin: auto;
    }

    h1 {
        text-align: center;
        font-size: 2rem;
    }

    .Teams {
        display: inline-block;
        text-align: center;
    }

    .Teams img {
      width: 15%;
    }
}